source https://www.nuget.org/api/v2
nuget FSharp.Data
nuget MvvmCross
nuget MvvmCross.Binding
nuget MvvmCross.Core
nuget MvvmCross.Forms
nuget MvvmCross.Platform
nuget sqlite-net-pcl
nuget Xamarin.Forms